.project {
  #team {
    .search {
      margin-bottom: 10px;
    }
  }

  #calendar {
    width: 100%;
  }

  #activity {
    .content {
      width: 100%;
      text-align: center;
    }
  }

  .nav {
    margin-bottom: 30px;
    margin-top: 30px;
  }
}

.toolbox {
  float: right;
  margin-top: 18px;
}