#scrolling-panels{height:220px;overflow:auto;}

.imageflow
{
  overflow:hidden;
  position:;
  text-align:left;
  visibility:hidden;
  width:100%;
}
.imageflow .scrollbar
{
  border-bottom:0px solid #b3b3b3;
  background: #ebedef;
  border-radius: 32px;
  height: 12px;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-bottom: 20px;
  position: relative;
  cursor: pointer;
  margin-top: 45px;
}

.imageflow .slider
{
  background:url() no-repeat;
  background-color: #16a085;
  border-radius: 50%;
  cursor: pointer;
  height: 18px;
  position: absolute;
  width: 18px;
  z-index: 2;
  -webkit-transition: background 0.25s;
  transition: background 0.25s;
}
.imageflow .caption {
  font-weight:bold;
  position:relative;
  text-align:center;
  z-index:10001;
}
